################################################################################
# pouriya.org:

https://pouriya.org/fa {
	tls {$CADDY_POURIYA_CERT_FULLCHAIN} {$CADDY_POURIYA_PRIVKEY}
	root {$CADDY_POURIYA_ROOT_DIR}/fa
	log / "{$CADDY_POURIYA_LOG_FA}" "{proto} {remote} {method} {path} {>User-Agent}" {
		rotate_size     10
		rotate_age      7
		rotate_keep     5
		rotate_compress
	}
}

https://pouriya.org/en {
	tls {$CADDY_POURIYA_CERT_FULLCHAIN} {$CADDY_POURIYA_PRIVKEY}                  
	root {$CADDY_POURIYA_ROOT_DIR}/en
	log / "{$CADDY_POURIYA_LOG_EN}" "{proto} {remote} {method} {path} {>User-Agent}" {
		rotate_size     10
		rotate_age      7
		rotate_keep     5
		rotate_compress
	}
}


https://pouriya.org {
        tls {$CADDY_POURIYA_CERT_FULLCHAIN} {$CADDY_POURIYA_PRIVKEY}
        redir https://pouriya.org/fa{uri}
}

http://pouriya.org {
  redir https://{host}{uri}
}

