{{ partial "header.html" . }}

<section id=content>
  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

  {{ if .Params.date }}
    <div id=sub-header>
      {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} ⦁ {{ .ReadingTime }} minute read
    </div>
  {{ end }}

  <div class="entry-content">
    {{ .Content }}
  </div>

  <div id=links>
    {{ if .PrevInSection }}
      <a class="basic-alignment left" href="{{.PrevInSection.Permalink}}">&laquo; {{.PrevInSection.Title}}</a>
    {{ end }}
    {{ if .NextInSection }}
      <a class="basic-alignment left" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} &raquo;</a>
    {{ end }}
  </div>
</section>

{{ if .Site.Params.comments  }}

  <div id="disqus_thread"></div>
  <script>

var disqus_config = function () {
this.page.url = '{{ .Permalink }}'; 
this.page.identifier = '{{ .Permalink }}'; 
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://pouriya-org.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}

{{ partial "footer.html" . }}


